.selector-for-some-widget {
    box-sizing: content-box;
  }

.nav-link{
    color: black;
    font-size: 25px;
}
.rounded{
    margin-left: 30%;
    display: flex;
}

h4{
    margin-left: 30%;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}